# Created by .ignore support plugin (hsz.mobi)
*.iml
dapeng.iml
**/target/
**/.idea/
/.idea/
/datas/
/dapeng-code-generator/target/
/dapeng-container/target/
/dapeng-container/dapeng-container.iml
/dapeng-core/target/
/dapeng-core/dapeng-core.iml
/dapeng-maven-plugin/target/
/dapeng-maven-plugin/dapeng-maven-plugin.iml
/dapeng-com.github.dapeng.registry.registry/dapeng-com.github.dapeng.registry.registry-api/target/
/dapeng-com.github.dapeng.registry.registry/dapeng-com.github.dapeng.registry.registry-zookeeper/target/
/dapeng-com.github.dapeng.registry.registry/dapeng-com.github.dapeng.registry.registry.iml
/dapeng-com.github.dapeng.registry.registry/dapeng-com.github.dapeng.registry.registry-api/dapeng-com.github.dapeng.registry.registry-api.iml
/dapeng-com.github.dapeng.registry.registry/dapeng-com.github.dapeng.registry.registry-zookeeper/dapeng-com.github.dapeng.registry.registry-zookeeper.iml
/dapeng-spring/target/
/dapeng-spring/dapeng-spring.iml
/dapeng-zookeeper/target/
/dapeng-zookeeper/dapeng-zookeeper.iml
.DS_Store
**/.DS_Store
dapeng-client-netty/src/test
dapeng-core/src/test
