@(message: String)
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>大鹏SOA管理站点</title>

            <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("css/sb-admin.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">


            <!-- Morris Charts CSS -->
        @*<link href="@routes.Assets.versioned("css/plugins/morris.css")" rel="stylesheet">*@


            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>

    <body ng-app="soaWeb">

        <div id="wrapper">

                <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">大鹏服务管理平台</a>
                </div>
                    <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">

                </ul>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="/index.html"><i class="fa fa-fw fa-dashboard"></i> 概览</a>
                        </li>
                        <li>
                            <a href="/hosts.html"><i class="fa fa-fw fa-table"></i> 服务器</a>
                        </li>
                        <li>
                            <a href="/services.html/all"><i class="fa fa-fw fa-edit"></i> 服务</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                        <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                服务治理功能 <small>功能列表</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-dashboard"></i>功能概览
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div>
                        <ng-view> </ng-view>
                    </div>


                    <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>目标</h3>
                                </div>
                                <div class="panel-body">
                                        <!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-comments fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">1</div>
                                                            <div>列出服务注册的所有机器地址， 注册时间</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/hosts.html">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">详情</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-green">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-tasks fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">2</div>
                                                            <div>点击某个机器地址， 列出其下面所有的服务，版本号</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/services.html/all">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">详情</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                        <!-- /.row -->
                                </div>
                            </div>
                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.container-fluid -->

            </div>
                <!-- /#page-wrapper -->

        </div>
            <!-- /#wrapper -->

            <!-- jQuery Version 1.11.0 -->
        <script src="@routes.Assets.versioned("js/jquery-1.11.0.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

            <!-- Custom Theme JavaScript -->
        @*<script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.min.js"></script>*@
        @*<script*@
        @*src="http://cdn.bootcss.com/angular.js/1.3.8/angular-cookies.min.js"></script>*@
        @*<script*@
        @*src="http://cdn.bootcss.com/angular.js/1.3.8/angular-route.min.js"></script>*@
        @*<script*@
        @*src="http://cdn.bootcss.com/angular.js/1.3.8//angular-resource.min.js"></script>*@

            @*<!-- DataTables JavaScript -->*@
        @*<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>*@
        @*<!--customer js-->*@
        @*<script src="@routes.Assets.versioned("js/plugins/dataTables/dataTables.bootstrap.js")"></script>*@
        @*<script src="@routes.Assets.versioned("js/controllers/lcontroller.js")"></script>*@
        @*<script src="@routes.Assets.versioned("js/app.js")"></script>*@

            <!-- Morris Charts JavaScript -->
        @*<script src="@routes.Assets.versioned("js/plugins/morris/raphael.min.js")"></script>*@
        @*<script src="@routes.Assets.versioned("js/plugins/morris/morris.min.js")"></script>*@
        @*<script src="@routes.Assets.versioned("js/plugins/morris/morris-data.js")"></script>*@

    </body>

</html>