<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台日志打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</Pattern>
        </layout>
        <!-- @see http://logback.qos.ch/manual/filters.html#levelFilter -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="SIMPLEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/simple-dapeng-container.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SLOWTIMEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/slowtime-dapeng-container.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DETAILFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/detail-dapeng-container.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/error-dapeng-container.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="GBTRANSACTIONFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/transaction-dapeng-container.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!--<appender name="KAFKACONSUMER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<prudent>true</prudent>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--<fileNamePattern>${soa.base}/logs/kafka-consumer.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--<maxHistory>30</maxHistory>-->
    <!--</rollingPolicy>-->
    <!--<encoder>-->
    <!--<pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="SCHEDULEDTASK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${soa.base}/logs/scheduled-task.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} %t %p - %m%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="container.kafka.consumer" additivity="true">-->
    <!--<level value="INFO"/>-->
    <!--<appender-ref ref="KAFKACONSUMER"/>-->
    <!--</logger>-->

    <logger name="container.scheduled.task" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="SCHEDULEDTASK"/>
    </logger>

    <logger name="container.simple.log" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="SIMPLEFILE"/>
    </logger>

    <logger name="container.slowtime.log" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="SLOWTIMEFILE"/>
    </logger>

    <logger name="com.github.dapeng.transaction" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="GBTRANSACTIONFILE"/>
    </logger>

    <root level="INFO">
        <if condition='!property("soa.run.mode").equals("native")'>
            <then>
                <appender-ref ref="STDOUT"/>
            </then>
        </if>

        <appender-ref ref="DETAILFILE"/>
        <appender-ref ref="ERRORFILE"/>
    </root>
</configuration>